/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

li {
  list-style: none;
}

body {
  background-color: #16394c;
  font-family: 'Poppins', sans-serif;
  line-height: 1.4;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1 {
  font-size: 2.5rem;
  text-align: center;
  font-weight: 600;
  padding: 0.5rem 0;
  color: white;
}

.header {
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
}

.header input {
  padding: 0.5rem 0.75rem;
  outline: none;
  border: 1px solid rgba(128, 128, 128, 0.5);
  width: 40%;
  margin-top: 1rem;
}

h2 {
  font-size: 1.8rem;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
  font-weight: 700;
  margin-top: 5rem;
}

.weather {
  max-width: 800px;
  margin: 2.5rem auto;
  width: 100;
  text-align: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  padding: 1rem;
}

.weather .image-block {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.weather .image-block img {
  width: 30%;
}

.weather p {
  color: white;
  margin-top: 0.5rem;
}

.deg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.deg h6 {
  font-size: 3rem;
  color: white;
  font-weight: 700;
  text-align: center;
}

.time,
.details {
  color: rgba(255, 255, 255, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 0.9rem;
}

.time span,
.details span {
  margin-left: 0.5rem;
  font-weight: 600;
  color: white;
}
/*# sourceMappingURL=style.css.map */